<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regex Matching App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Regex Matcher</h1>
        
        <div class="icon-container">
            <div class="icon-box">
                <i class="fas fa-search"></i>
                <h2>Regex Matcher</h2>
                <form id="regex-form" method="POST" action="/results">
                    <label for="test_string">Test String:</label><br>
                    <textarea name="test_string" rows="4" cols="50">{{ test_string }}</textarea><br><br>
                    
                    <label for="regex">Regular Expression:</label><br>
                    <input type="text" name="regex" value="{{ regex }}"><br><br>

                    <button type="submit">Find Matches</button>
                    <button type="button" onclick="resetRegexForm();">Refresh</button>
                </form>
                <h2>Matches</h2>
                {% if matches %}
                    <ul>
                    {% for match in matches %}
                        <li>{{ match }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No matches found</p>
                {% endif %}
            </div>

            <div class="icon-box">
                <i class="fas fa-envelope"></i>
                <h2>Email Validator</h2>
                <form id="email-form" method="POST" action="/validate_email">
                    <label for="email">Enter Email:</label><br>
                    <input type="email" name="email"><br><br>
                    <button type="submit">Validate Email</button>
                    <button type="button" onclick="resetEmailForm();">Refresh</button>
                </form>

                {% if email is not none %}
                    <p>Email: {{ email }} is {% if is_valid %}valid{% else %}invalid{% endif %}.</p>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        // Function to reset the Regex form
        function resetRegexForm() {
            document.getElementById('regex-form').reset();
        }

        // Function to reset the Email form
        function resetEmailForm() {
            document.getElementById('email-form').reset();
        }
    </script>
</body>
</html>